.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    margin: 10px 10px;
}

.logo{
    width: 100px;
}
.nav-items {
    margin-right: 100px;
    /* padding-right: 200px; */
}

.nav-items > ul{
    display: flex;
    list-style-type: none;
    margin-left: 20px;
    
}

.nav-items > ul > li{
    padding: 10px;
    margin: 10px;
    font-size: 18px;
}